[submodule "headernorm-42"]
	path = headernorm-42
	url = git@github.com:Juan-aga/headernorm-42.git
[submodule "memory-leaks"]
	path = memory-leaks
	url = git@github.com:Juan-aga/memory-leaks.git
[submodule "Invoke-Obfuscation-Desobfuscation"]
	path = Invoke-Obfuscation-Desobfuscation
	url = git@github.com:Juan-aga/Invoke-Obfuscation-Desobfuscation.git
[submodule "Checker_headers_norminette_42"]
	path = Checker_headers_norminette_42
	url = git@github.com:Juan-aga/Checker_headers_norminette_42.git
